<html>
  <head>
    <meta charset="utf-8">
    <title>List of People</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js"></script>
    <script src = "../underscore.js"></script>
    <script src = "../backbone.js"></script>
    <style>
        #people li {
            list-style-type: none;
            padding-left: 5px;
        }
        #people {
            background-color: lightblue;
            margin: 0;
            padding: 0;
            display: line;
            width: 200px;
        }
    </style>
  </head>
  <body>
    <h1>List of People</h1>
    <ul id = "people"></ul>
    <script src = "./personcollection.js"></script>
  </body>
</html>